<div class="navContainer"><nav id="nav" style="justify-content: end;">
    <ul id="navList" style="width: 100%">
        <li style="display: flex; flex-direction: row; width: 100%;">
            <form action="/login" method="post" style="display: flex; flex-direction: row; align-items: center;  justify-content: space-between; width: 100%;">
                <input type="text" name="username" placeholder="Username" class="loginInfo" />
                <input type="password" name="password" placeholder="Password" class="loginInfo"/>
                <button type="submit" id="loginButton">Login</button></form>
        </li>
    </ul>
</nav></div>