<div id="instructions">
    <h1>Welcome to the employee management app!</h1>
    <h2>This app is an excercise to build an employee management system </h2>
    <h2>This app utilizes a custom express server and MongoDB to store "employee data"</h2>
    <ul>
        <li>test employee username: employee1</li>
        <li>test employee password: foobar25 </li>
        <li>test manager username: admin25 </li>
        <li>test manager password: admin25 </li>
    </ul>
    <h2>Try some of the logins to explore the features </h2>
</div>

